@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RideCompanion.ViewModels.CompanionViewModel

<div class="offcanvas offcanvas-start" tabindex="-1" id="createCompanion" aria-labelledby="createCompanionLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="createCompanionLabel">Create Companion</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div>
            <form method="post" asp-controller="Companion" asp-action="CreateCompanion">
                <div class="mb-3">
                    <select asp-items="@ViewBag.cities" class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="null">Null</option>
                    </select>
                    <div class="form-text">AddressFrom</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">AddressFrom</label>
                    <input asp-for="@Model.CompanionDto.Name" type="text" class="form-control" id="TripAddressFrom">
                    <div class="form-text">AddressFrom</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">AddressTo</label>
                    <input asp-for="@Model.CompanionDto.BirthDate" type="date" class="form-control" id="TripAddressTo">
                    <div class="form-text">AddressTo</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">DateTime</label>
                    <input asp-for="@Model.CompanionDto.PhoneNumber" type="date" class="form-control" id="TripDateTime" value="1900-01-01" min="1900-01-01" max="2100-12-31">
                    <div class="form-text">DateTime</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>