@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RideCompanion.ViewModels.TripViewModel

<div class="offcanvas offcanvas-start" tabindex="-1" id="updateCompanion" aria-labelledby="updateCompanionLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="updateCompanionLabel">Update trip</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div>
            <form method="post" asp-controller="Trip" asp-action="UpdateTrip">
                <input asp-for="@Model.TripDto.Id" type="text" id="TripId" hidden>
                <div class="mb-3">
                    <label class="form-label">Full name</label>
                    <input asp-for="@Model.TripDto.AddressFrom" type="text" class="form-control" id="TripAddressFrom">
                    <div class="form-text">Full name</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Birth date</label>
                    <input asp-for="@Model.TripDto.AddressTo" type="date" class="form-control" id="TripAddressTo">
                    <div class="form-text">Birth date</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Birth date</label>
                    <input asp-for="@Model.TripDto.DateTime" type="date" class="form-control" id="TripDateTime" value="1900-01-01" min="1900-01-01" max="2100-12-31">
                    <div class="form-text">Birth date</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>