@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="reports">
    @foreach (var item in Model.ReportsList.Select((value, i) => new { value, i }))
    {
        <a href="@item.i">@item.value</a>
    }
</div>
<div class="web-report">
    @await Model.WebReport.Render()
</div>